@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Pacifico&display=swap");
.containerMain {
  min-height: 800px;
  display: flex;
  align-items: center;
  margin-top: -200px;
  font-family: "Montserrat", sans-serif;
}
.imageContLogin {
  background-color: #fff;
  border-radius: 5px;

  padding-right: 200px;
  position: relative;
  overflow: hidden;
  width: 500px;

  margin: 0 auto;

  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  background: linear-gradient(
      to bottom,
      rgba(253, 253, 253, 0.301),
      rgb(255, 255, 255)
    ),
    url("../../../images/1_5lpiSFo6j5dhrr6Z6RFd8Qa.jpeg");

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.containerLogin {
  background-color: #fff;
  padding: 55px;
  padding-bottom: 100px;

  position: relative;
  overflow: hidden;
  width: 300px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  text-align: center;

  .emaildLabel {
    margin: 0 auto;

    transition: 0.5s;
    position: absolute;
    pointer-events: none;
    top: 65px;
    right: 85px;
  }
  .passwordLabel {
    margin: 0 auto;
    transition: 0.5s;
    position: absolute;
    pointer-events: none;
    top: 135px;
    right: 85px;
  }

  input:nth-of-type(1) {
    width: 80%;
    background: transparent;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    transition: 0.5s;
    &:focus {
      border-bottom: 1px solid #538d22;
      + .emaildLabel {
        margin-top: -25px;
        right: 50%;
      }
    }
  }

  input:nth-of-type(2) {
    width: 80%;
    background: transparent;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    transition: 0.5s;
    &:focus {
      border-bottom: 1px solid #538d22;
      + .passwordLabel {
        margin-top: -25px;
        right: 50%;
      }
    }
  }

  .buttonsLogin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    p {
      cursor: pointer;
    }
  }
  .loginbtn {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    padding: 15px;
    outline: none;
    margin-right: 2px;
    background-color: #538d22;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;

    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    &:active {
      transform: scale(0.95);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #67b427;
    }
  }
  .regbtn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    padding: 15px;
    margin-left: 2px;
    background-color: #ce4257;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #fc788c;
    }
  }
}
