@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$grey: rgba(135, 138, 140, 0.5);

.ContainerAllPost {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1500px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  font-family: "PT Sans Narrow", sans-serif;

  .flexAllPost {
    width: 100%;
    display: flex;
    flex-direction: column;

    .flexPosts {
      display: flex;
      flex-direction: column;
      margin: 10px;
      border: 1px solid rgba(135, 138, 140, 0.5);
      border-radius: 20px;
    }

    .theimgCOnt {
      .flexImgTitle {
        display: flex;
        flex-direction: column;
        .shortText {
          white-space: pre-wrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 80%;
          line-height: 1.625;
          height: 109.2px;
          text-align: justify;
          align-self: flex-start;
        }
        &::after {
          content: "Read More...";
          color: #538d22;
        }
      }
      img {
        width: 15%;
        max-height: 150px;
        object-fit: contain;
        float: left;
        padding: 5px;
        border: 1px solid $grey;
        margin: 15px;
      }
    }

    .flexuserDate {
      display: flex;
      border-bottom: 1px solid rgba(135, 138, 140, 0.363);
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 14px;
      font-style: italic;
      color: $grey;
      font-weight: 900;
      margin: 5px;
      padding: 5px;
    }
    .flexLikesComments {
      display: flex;

      flex-direction: row;
      justify-content: flex-end;

      font-size: 18px;
      padding: 0 5px 3px 0;
      margin-right: 5px;
      span {
        margin-right: 5px;
      }
    }
    .deleteandEdit {
      display: flex;

      flex-direction: row;
      justify-content: flex-end;

      font-size: 18px;
      padding: 0 5px 3px 0;
      margin-right: 5px;
      .dltbtn {
        background-color: #d63030;
        outline: none;
        border: none;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
        color: white;
        font-size: 10px;
        transition: 1s;

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
      .edtbtn {
        background-color: #b1961f;
        outline: none;
        border: none;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
        color: white;
        font-size: 10px;
        transition: 1s;

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
}
