@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
.theSettings {
  margin: 0 auto;
  width: 50%;
  font-family: "PT Sans Narrow", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
}

.theSettings .uploaderAAvatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  width: 50%;
}

.theSettings .uploaderAAvatar .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 35px;
  border: 1px solid rgba(146, 145, 145, 0.521);
  width: 100%;
  height: 10px;
  margin: 0 auto;
  background-color: #e3e6e4;
  padding: 0px;
  padding-bottom: 10px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(121, 119, 119, 0.2);
          box-shadow: inset 0 1px 3px rgba(121, 119, 119, 0.2);
}

.theSettings .uploaderAAvatar .progress-barfill {
  width: 100%;
  padding: 5px 0;
  margin: 0 auto;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  height: 5px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.05)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

.theSettings .uploaderAAvatar img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 300px;
  max-height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.theSettings span {
  cursor: pointer;
  margin: 5px 0;
  border: 1px solid rgba(172, 171, 171, 0.616);
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
}

.theSettings span:hover {
  text-decoration: underline;
}

.theSettings button {
  width: 100%;
  border-radius: 2px;
  border: none;
  padding: 5px 0;
  background-color: #d8cb1d;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.theSettings button:hover {
  background-color: #67b427;
}

.theSettings .paswReset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.theSettings .paswReset button {
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  .theSettings {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=Settings.css.map */