@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
.userInfos {
  margin: 0 auto;
  font-family: "PT Sans Narrow", sans-serif;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    cursor: pointer;
    margin: 5px 0;
    border: 1px solid rgba(172, 171, 171, 0.616);
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    font-weight: 800;
  }

  .userinfosPost {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    a {
      font-weight: 800;
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      color: black;
      border-bottom: 1px solid rgba(172, 171, 171, 0.616);
      p {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .userinfosComments {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    div {
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      color: black;
      border-bottom: 1px solid rgba(172, 171, 171, 0.616);
      p {
        height: 30px;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid rgba(172, 171, 171, 0.616);
        font-style: italic;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        width: 20%;
        margin-top: 20px;
        border: none;
        &:hover {
          text-decoration: underline;
        }
      }
      a {
        font-style: normal;
        color: green;
        font-weight: 800;
        letter-spacing: 1px;
        margin-left: 5px;
        width: 100px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .userInfos {
    .userinfosComments {
      div {
        flex-direction: column;
      }
    }
  }
}
