@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$grey: rgba(133, 133, 133, 0.5);
.containerPostDetail {
  width: 80%;
  margin: 0 auto;

  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);

  font-family: "PT Sans Narrow", sans-serif;

  .titleheader {
    grid-column: 1/3;
    grid-row: 1/2;
    border-bottom: 1px solid $grey;
    h1 {
      margin: 0;
      margin-top: 25px;
      font-size: 35px;
      text-align: center;
      margin-bottom: 5px;
    }
    span {
      margin: 0;
      font-weight: bold;
      font-style: italic;
      padding: 2px 15px;
      text-align: left;
      font-size: 15px;
    }
    span:nth-of-type(2) {
      margin: 0;
      float: right;
    }

    margin-bottom: 15px;
  }

  .imgheader {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;

    padding-bottom: 25px;

    img {
      width: 100%;
      max-height: 800px;
      object-fit: contain;
    }
  }

  .themaintext {
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    border-bottom: 1px solid $grey;
    border-top: 1px solid $grey;

    img {
      width: 100%;
      max-height: 300px;
      object-fit: contain;
    }
  }

  .btnandcomment {
    grid-column: 1/3;
    grid-row: 4 / 5;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .btnopen {
    float: right;
    font-size: 25px;
    cursor: pointer;
    margin-right: 5px;
  }
  .btnclosed {
    float: right;
    color: #8d2257;
    font-size: 25px;
    cursor: pointer;
    margin-right: 5px;
  }
  .btnFav {
    border-radius: 0px;
    border: none;
    padding: 10px;
    padding-right: 25px;
    margin-left: 2px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    span {
      position: absolute;
      font-size: 20px;
      top: 5px;
    }
    &:active {
      transform: scale(0.95);
    }

    &:focus {
      outline: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .containerPostDetail {
    width: 90%;

    grid-template-columns: 1fr;

    .titleheader {
      grid-column: 1;
      grid-row: 1/2;
    }

    .imgheader {
      grid-column: 1;
      grid-row: 2;
    }

    .themaintext {
      grid-column: 1;
      grid-row: 3/4;
    }

    .btnandcomment {
      grid-column: 1;
      grid-row: 4 / 5;
      margin-bottom: 2px;
    }
  }
}
